AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT = "https://heihachi-test-1-resource.openai.azure.com/"
AZURE_OPENAI_API_VERSION = "2025-01-01-preview"
AZURE_OPENAI_DEPLOYMENT = "gpt-4.1"

AZURE_EMBEDDING_DEPLOYMENT = "text-embedding-3-large"
AZURE_EMBEDDING_API_VERSION = "2024-02-01"


LLM_BINDING=azure_openai
LLM_BINDING_HOST=https://heihachi-test-1-resource.openai.azure.com/
LLM_MODEL=gpt-4.1
LLM_BINDING_API_KEY=

EMBEDDING_BINDING=azure_openai
EMBEDDING_MODEL=text-embedding-3-large
EMBEDDING_DIM=3072